.navbar {
    padding: 20px 70px;
    background-color: var(--void, #000000);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right ul {
    display: flex;
    align-items: center;
    gap: 20px;
}