:root {
    /* COLORS */
    --void: #000000;

    /* Futuristic Green + Blue Colors */
    --dark-green: #062315;
    --cyprus: #06373A;
    --eden: #1F5F5B;
    --salem: #159947;
    --ocean-green: #49B265;
    --blueish-green: #008080;
}