* {
    color: var(--eden,#1F5F5B);
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    font-style: normal;
    line-height: normal;
}

a:hover {color: var(--blueish-green, #008080)}

/* a - logo */
.h-1 {
    font-size: 36px;
    font-weight: 700;
}

/* a - nav links */
.h-2 {
    font-size: 24px;
    font-weight: 500;
}

.h-1:hover, .h-2:hover {letter-spacing: 10px;}