/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--eden, #1F5F5B);
    font-family: 'Fira Code', monospace;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--deep-space-black, #000000);
}

.sections {
    padding: 0 70px;
    width: 100%;
    height: 100vh;
}

