/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--eden, #1F5F5B);
    font-family: 'Fira Code', monospace;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "FiraCode-Bold";
    src: url(../Fira_Code/static/FiraCode-Bold.ttf);
}

@font-face {
    font-family: "FiraCode-Light";
    src: url(../Fira_Code/static/FiraCode-Light.ttf);
}

@font-face {
    font-family: "FiraCode-Medium";
    src: url(../Fira_Code/static/FiraCode-Medium.ttf);
}

@font-face {
    font-family: "FiraCode-Regular";
    src: url(../Fira_Code/static/FiraCode-Regular.ttf);
}

@font-face {
    font-family: "FiraCode-SemiBold";
    src: url(../Fira_Code/static/FiraCode-SemiBold.ttf);
}

/* Global Variables */
:root {
    /* COLORS */
    --deep-space-black: #000000;

    /* Futuristic Green + Blue Colors */
    --dark-green: #062315;
    --cyprus: #06373A;
    --eden: #1F5F5B;
    --salem: #159947;
    --ocean-green: #49B265;
    --blueish-green: #008080;

    /* Font Family Fira Code */
    --ff-fc-bold: "FiraCode-Bold";
    --ff-fc-light: "FiraCode-Light";
    --ff-fc-medium: "FiraCode-Medium";
    --ff-fc-regular: "FiraCode-Regular";
    --ff-fc-semi-bold: "FiraCode-SemiBold";
}

body {
    background-color: var(--deep-space-black, #000000);
}

